<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Lista de Funcionários</title>
        <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container my-4">
            <h1 class="mb-4">Lista de funcionários</h1>
            <table id="employeeTable" class="table table-striped table-responsive-md">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>CPF</th>
                        <th>Email</th>
                        <th>Telefone</th>
                        <th>Salário</th>
                    </tr>
                </thead>
                <tbody id="tableBody">
                </tbody>
            </table>
        </div>
        <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="../static/js/script.js"></script>
    </body>
</html>